/*
Priority
    1- universal (*)
    2-id (#)
    3-class (.)
    4-tag <>
*/




/*universal style*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: rgb(204, 17, 142);
    font-size: 20px;
 
}

/*id*/
#first_h3{
    color:aqua;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*class*/
.smpl{
    color:green;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.one{
    color:white;
    background: blue;
}
.two{
    color:white;
    background: red;
}

p {  
  color:green;
}

.three { /*'important' is the most greatest priority*/
    color: red !important;
}

.container {
    color: yellowgreen;
}

.container > p { /*each p that .container is parrent , another signe is '+' and '~' */
    color:black;
}
.image_smpl {
    color: white; 
    color: #8338ec; /*coolors.co*/
    background-color: rgba(0, 0, 0, 0.5); /*opasity between 0~1 */
    /*background-image: ;*/
}