#main {
    background: yellow;
    height: 100vh;
    width: 100vw;
}


h1 {
    color:white;
    font-size: 30px;
    background-color: red;
    width: 600px;
    height: 300px;
}
html{
    font-size: 20px;
    font-family: Tahoma;
}

.outer {
    background-color: green;
    width: 300px;
    height: 100px;
    font-size: 70%;
}


.inner {
    background-color: blue;
    color: white;
    width: 30%;
    height: 100%;
    font-size: 50%;
}
